@font-face {
    font-family:'Helvetica Neue';
    src: url(../assets/HelveticaNeue.ttc);
}
body{
    font-family: Helvetica Neue,normal;
}
/* GLOBAL STYLES */
.heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.3px;
    position: absolute;
    top: 47px;
    left: 149px;
}
.stage{
    font-weight: 400;
    font-size: 20px;
    line-height: 23.86px;
    position: absolute;
    top: 49px;
    left: 920px;
}
.main-labels{
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
}
.warning{
    line-height: 21px;
    font-size: 14px;
    font-weight: 300;
    color: #2E2E2E;
}
::placeholder{
    font-weight:400;
    font-size:16px;
    line-height:21px;
    color:rgba(0, 0, 0, 0.6);;
}
.full-width-input{
    width: 798px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    background: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 13px 16px 14px 16px;
}
                                        /*INDEX HTML*/
.div-container{
    width: 1920px;
    height: 1080px;
    background-image: url(../assets/images/shutterstock_2189773743\ 1.png);
    background-size: cover;
    position: relative;
}
.logo-02{
    position: absolute;
    width: 236px;
    height: 38px;
    top: 25px;
    left: 70px;
}
.line{
    position: absolute;
    width: 1780px;
    border: 2px solid #1A1A1A;
    display: inline-block;
    top: 89px;
    left: 70px;
}
.logo-40{
    width: 299px;
    height: 299px;
    position: absolute;
    top:473px;
    left: 1076px;
}
.add-btn{
    position: absolute;
    width: 464px;
    height: 60px;
    border-radius: 8px;
    padding: 18px,60px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.42px;
    top: 513px;
    left: calc(50% - 464px/2);
}
                                        /* PERSONAL*/
/* LEFT BLOCK 1 */
.leftBlock1{
    width: 1158px;
    height: 1080px;
    background-color: #F9F9F9;
    position: relative;
}
/* HEADING */
.headingLine{
    width: 798px;
    border: 1px solid #1A1A1A;
    position: absolute;
    top: 88px;
    left: 150px;
}
.home button{
    position: absolute;
    top: 57px;
    left: 62px;
    background-color: #FFFFFF;
    border: 0;
}

/* NAME */
.div-firstname{
    position: absolute;
    width: 419px;
    height: 122px;
    top: 157px;
    left: 126px;
    padding: 8px 24px;
    width: 371px;
}
.div-lastname{
    position: absolute;
    width: 419px;
    height: 122px;
    top: 157px;
    left: 553px;
    padding: 8px 24px;
    width: 371px;
}
.name{
    width: 371px;
}
.name-inp{
    width: 371px;
    height: 48px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 13px 16px 14px 16px;
    border: 1px solid #BCBCBC;
}
/* PHOTO UPLOAD*/
.photo-h{
    position: absolute;
    left: 150px;
    top: 325px;
    font-size: 18px;
    width: 232px;
    line-height: 22px;
    font-weight: bold;
}
.photo-input {
    display: none;
}
.photo-label {
    position: absolute;
    width: 107px;
    height: 27px;
    border-radius: 4px;
    top: 325px;
    left: 401px;
    padding: 4px 19px 6px 19px;
    cursor: pointer;
    background-color: #0E80BF;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.7px;
}
/* ABOUT */
.div-about{
    position: absolute;
    width: 846px;
    height: 148px;
    top: 393px;
    left: 126px;
    padding: 8px 24px;

}
.textarea{
    width: 798px;
    resize: none;
    border-radius: 4px;
    padding: 13px 16px;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    margin-top: 8px;
}
.pers-txtarea{
    height: 103px;
}
/* EMAIL */
.div-email{
    position: absolute;
    width: 846px;
    height: 122px;
    top: 558px;
    left: 126px;
    padding: 8px 24px;
}
.email{
    width: 798px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 300;
    color: #2E2E2E;
}
/* MOBILE NUMBER */
.div-number{
    position: absolute;
    width: 846px;
    height: 122px;
    top: 693px;
    left: 126px;
    padding: 8px 24px;
}
/* NEXT*/
.nextPage{
    position: absolute;
    width: 151px;
    height: 48px;
    right: 150px;
    bottom: 65px;
    border-radius: 4px;
    padding: 16px 60px;
    background-color: #6B40E3;
    border: 0;
    font-weight:500;
    font-size:16px;
    line-height:20px;
    letter-spacing:0.08em;
    color: #FFFFFF;
    padding: 14px 35px;
}
.logo-12{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 994px;
    left: 78px;
}
/* RIGHT BLOCK*/
.rightBlock{
    position: absolute;
    left: 1158px;
    top: 0;
    width: 822px;
    height: 1080px;
    padding: 48px 75px 50px 80px;
}
                                        /* EXPERIENCE*/
/* LEFT BLOCK2 */
.leftBlock2{
    width: 1158px;
    height: 1080px;
    background-color: #F9F9F9;
    position: relative;
}
/* POSITION */
.div-position{
    position: absolute;
    width: 846px;
    height: 125px;
    top: 157px;
    left: 126px;
    padding: 8px 24px;
}
/* EMPLOYER */
.div-employer{
    position: absolute;
    width: 846px;
    height: 125px;
    top: 294px;
    left: 126px;
    padding: 8px 24px;
}
/* DATE */
.div-startDate{
    position: absolute;
    width: 419px;
    height: 125px;
    top: 431px;
    left: 126px;
    padding: 8px 24px;
}
.div-endDate{
    position: absolute;
    width: 419px;
    height: 125px;
    top: 431px;
    left: 553px;
    padding: 8px 24px;
}
/* DESCRIPTION */
.div-description{
    position: absolute;
    width: 846px;
    height: 168px;
    top: 541px;
    left: 126px;
    padding: 8px 24px;
}
.exp-txtarea{
    height: 123px;
}
/*BUTTON */
.more{
    position: absolute;
    width: 289px;
    height: 48px;
    top: 804px;
    left: 149px;
    border-radius: 4px;
    padding: 14px 21px;
    background-color: #62A1EB;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.54px;
    border: 0;
}
.bottom-line{
    position: absolute;
    width: 798px;
    top: 759px;
    left: 149px;
    border: 1px solid #C1C1C1;
}
.previous{
    position: absolute;
    width: 113px;
    height: 48px;
    bottom: 65px;
    left: 150px;
    border-radius: 4px;
    padding: 14px 35px;
    border: 0;
    background-color: #6B40E3;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
}
                                        /* EDUCATION*/
/* LEFT BLOCK 3 */
.leftBlock3{
    width: 1158px;
    height: 1080px;
    background-color: #F9F9F9;
    position: relative;
}
.div-university{
    position: absolute;
    width: 846px;
    height: 125px;
    top: 157px;
    left: 126px;
    padding: 8px 24px;
}
.div-stage{
    position: absolute;
    width: 419px;
    height: 125px;
    top: 294px;
    left: 126px;
    padding: 8px 24px;
}
.div-educFinish{
    position: absolute;
    width: 419px;
    height: 125px;
    top: 294px;
    left: 553px;
    padding: 8px 24px;
}
.div-description2{
    position: absolute;
    width: 846px;
    height: 224px;
    top: 405px;
    left: 126px;
    padding: 8px 24px;
}
.educ-txtarea{
    height: 179px;
}
.bottom-line2{
    position: absolute;
    width: 798px;
    top: 674px;
    left: 149px;
    border: 1px solid #C1C1C1;
}
.more-position{
    top: 804px;
    left: 149px;
}
                                    /* PERSONAL-RIGHT BLOCK  */
.addname{
    position: absolute;
    top: 68px;
    left: 80px;
    color: #F93B1D;
    font-weight: 700;
    font-size: 34px;
    line-height: 41.51px;
    display: flex;
    gap: 20px;
}
.addMailImg{
    position: absolute;
    top: 130.67px;
    left: 82.67px;
    color: #898989;
}
.addPhoneImg{
    position: absolute;
    top: 160.8px;
    left: 82.66px;
    color: #898989;
}
.addMail{
    position: absolute;
    top: 127px;
    left: 111px;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.47px;
}
.addPhone{
    position: absolute;
    top: 158px;
    left: 111px;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.47px;
}
.aboutMeHeader{
    position: absolute;
    top: 213px;
    left: 80px;
    color: #F93B1D;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.98px;
}
.aboutMe{
    position: absolute;
    top: 250px;
    left: 80px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 432px;
}
#page2{
    display: none;
}
#page3{
    display: none;
}